

/* About Section */

.About{
  
    /* border: 1px solid black; */
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

    .About .AboutMe{
        /* border: 1px solid black;
        background-color: #F2EEEE; */
        box-shadow: 2px 2px 7px rgba(214, 207, 193, 0.616);
        border-radius: 20px;
        height: 400px;
        width: 300px;
       
        padding: 10px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .About .AboutMe h1{
            margin: 0px;
            font-size: 36px;
            font-weight: bold;
        }

        .About .AboutMe p{
            font-size: 20px;
        
        }
        .About .AboutMe button{
            font-size: 16px;
            color: white;
            padding: 10px 20px;
            background-color: rgb(0, 0, 0);
            border: none;
            border-radius: 25px;
            cursor: pointer;
           
        }
        .About .AboutMe button:hover{
             box-shadow: 3px 3px 10px rgba(63, 62, 62, 0.555);
        }
    .About .Image{
        /* border: 1px solid black; */
        border-radius: 20px;
        height: 350px;
        width: 250px;
    }

    hr{
        margin: 0px;
    }





/* Background Section */

.Background{
    /* border: 1px solid black; */
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}

    .Background .Edu{
        /* border: 1px solid black; */
        height: 150px;
        width: 400px;
    
    }
        .Background .Edu h1{
            font-size: 36px;
        }
        .Background .Edu p{
            font-size: 16px;
        }
    .Background .Exp{
        /* border: 1px solid black; */
        height: 150px;
        width: 400px;
       
    }
        .Background .Exp h1{
                font-size: 36px;
            }
        .Background .Exp p{
            font-size: 16px;
        }


.Background2{
    /* border: 1px solid black; */
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

    .Background2 .Edu{
        /* border: 1px solid black; */
        box-shadow: 1px 1px 5px rgb(216, 200, 200);
        
        border-radius: 20px;
        height: 350px;
        width: 400px;
        padding: 10px 20px;
        margin-top: 40px;
      
    }
        .Background2 .Edu div{
            /* border: 1px solid black; */
            display: flex;
        }
    
    .Background2 .Exp{
        /* border: 1px solid black; */
        box-shadow: 1px 1px 5px rgb(216, 200, 200);
        border-radius: 10px 10px;
        padding: 20px;
        height: 250px;
        width: 400px;
    }

        .Background2 .Exp div{
            /* border: 1px solid black; */
            display: flex;
        }







/* Main Background Section */

.MainBackground{
    /* border: 1px solid black; */
    height: auto;
    background-color: #faf9f8;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    /* display: flex;
    flex-direction: column; */
    
    /* width: 100%; */

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.MainBackground2{
    /* border: 1px solid black; */
    height: 300px;
    /* background-color: #F2EEEE; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
    gap: 25px;
    flex-wrap: wrap;
}
    .MainBackground2 div{
        /* border: 1px solid black; */
        box-shadow: 1px 1px 5px rgb(216, 200, 200);
        height: 100px;
        width: 100px;
        background-color: rgb(202, 131, 131);
    }


      .MainBackground2 div:hover{
        box-shadow: 2px 2px 5px rgb(165, 165, 165);
        cursor: pointer;

      }


    .MainBackground2 .Content{
    
        height: 140px;
        width: 200px;
        background-color: white;
        padding: 30px;
        border-radius: 12px;
    }
        .MainBackground2 .Content img{
            width: 50px;
            height: 50px;
        }

        .MainBackground2 .Content h3{
            font-size: 20px;
        }
        .MainBackground2 .Content p{
            font-size: 18px;
        }







.Section{
    /* border: 2px solid #ec0000; */
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
   
   
}

.Section h1{
   /* padding-left: 100px; */
   font-size: 32px;
   font-weight: bold;
   margin-top: 40px;
  
}





.MainBackground .slider1{
    color: white;
    font-size: 20px;
    padding-top: 10px;
    transform: rotate(180deg);
    margin-top: 1px;
}


/* .MainBackground{
    height: 400px;
} */
@media screen and (max-width: 800px) {
    .About{
        padding: 200px 0px;
    }

}


@media screen and (max-width: 860px) {
    .About{
        height: auto;
        flex-direction: column;
        gap: 20px;
        /* padding: 200px 0px; */
    }
    .MainBackground{
        flex-direction: column;
        height: auto;
    }
    
    
}

@media screen and (max-width: 400px) {
    .About{
        padding: 200px 0px;
    }
}