/* Nav bar section */
body{

  
}


.section{
    height: 500px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .section .text{
        margin-top: 40px;
        height: 100px;
        width: 80%;
        /* border: 2px solid black; */
        text-align: center;
    }
    .section .sectionSkills{
        margin-top: 50px;
        height: auto;
        width: 80%;
        /* border: 2px solid rgb(255, 0, 0); */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        flex-wrap: wrap;
    }
        .section .sectionSkills .section-content{
            /* border: 2px solid black; */
            height: 300px;
            width: 250px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            display: block;
            text-align: center;
        }
            .section .sectionSkills .section-content img{
            width: 100%;
            height: 80%;
        }

.section2{
    height: 500px;
    width: 100%;
    
    /* border: 2px solid rgb(0, 26, 255); */
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    
}

    .section2 .text{
    
        /* height: 100%; */
        width: 500px;
        /* border: 2px solid black; */
        /* text-align: center; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .section2 .text .content{
            /* border: 1px solid black; */
            height: 100px;
            width: 100%;
        }
    .section2 .sectionSkills{
       
        height: 50%;
        width: 30%;
        /* border: 2px solid rgb(10, 44, 240); */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        flex-direction: column;
    }
    
        .section2 .sectionSkills .section-content2{
            /* border: 2px solid black; */
            height: 300px;
            width: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            /* flex-wrap: wrap; */
        }
         .section2 .sectionSkills .section-content2 div{
            height: 100px;
            width: 100px;
            /* border: #f87000 2px solid; */
            text-align: center;
         }
         .section2 .sectionSkills .section-content2 div img{
            width: 50px;
            height: 50px;
         }

         .section2 .sectionSkills .section-content2 div p{
            margin-top: 0px;
         }
   

@media screen and (max-width: 703px) {
    .section{
        height: 1000px;
        /* border: 2px solid rgb(255, 0, 0); */
        display: flex;
        justify-content: flex-start;
        padding-top: 150px;
        padding-bottom: 200px;
       
    }
    
}

@media screen and (max-width: 680px) {
    .section{

        /* border: orange 2px solid; */
        padding-bottom: 350px;
        
    }
}
